{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
   
</head>
<body>

    <header>
        <p>Username : my username</p>
        <p>Name : my name</p>
        <a href="{% url 'logout' %}"><button>Logout</button></a>
    </header>
    
    <main>
        <a href=""><section>
            <img src="{% static 'chat/face.png' %}" style="width: 80px; height: 100px; border-radius: 50%;">
            <p>person's name</p>
        </section></a>
    </main>

</body>
</html>